<aside>
	<div class="panel radius">
		<h3>Recent stuff</h3>
		<hr>
		<p>
			 <a href="https://github.com/MTG/DeepConvSep">DeepConvSep</a> deep learning repository updated with examples of classical music separation (Bach chorales, four instruments) and with a wrapper which queries RWC instruments sound database for samples. 
		</p>
		<hr>
		<p>
			 Various articles on my current work on classical music source separation as a part of the a <a href="http://phenicx.upf.edu/">PHENICX</a> project have been published in Catalan, Spanish, and Romanian. Find out more on MTG's <a href="http://mtg.upf.edu/node/3700"> news page</a>.
		</p>
		<hr>
		<p> We submitted a paper on training robust models for classical music source separation, departing from the score. It can be seen as a context-driven data generation/augmentation approach.<br>
			<i>M. Miron, J. Janer, and E. Gomez, "Generating data to train convolutional neural networks for low latency classical music source separation" Sound and Music Computing Conference 2017 (submitted)</i>
		</p>
	</div>

<!--   <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>